
/* start global */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: tajwal !important;
    font-style: normal;
}


/* end global */


/* start Nav */

.Nav {
    /* background-color: #c8ae5f6c; */
}

nav .nav-item:not(:last-child){
    margin-right: 50px;
}

nav .container-fluid a{
    color: white !important;
    font-size: 40px;
    margin-left: 10px;
}

nav .nav-item .nav-link{
    color: white;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.5s;
}

nav .nav-item .nav-link:hover{
    background-color: #E7AE6F;
    border-radius: 15px;
    /* padding: 10px; */
    font-size: 25px;
}

@media(max-width:767px){
    Nav {
        background-color: #c8ae5f6c;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgb(251 251 251);
        background-color: white;
        padding: 2px;
    }
}

/* end Nav */

/* start home */


.home-Bg-image{
    background-image: url(../images/Group\ 4.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-Home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-Home h2 {
    color: white;
    font-size: 40px;
}

.logo-Home {
    position: absolute;
    left: 50px;
}

.logo-Home li:not(:last-child){
    margin-bottom: 40px;
}

.logo-Home li a img{
    transition: all 0.5s;
}

.logo-Home li a img:hover{
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404); */
    transform: scale(1.1 , 1.1);
}

.logo-Home li .fa-youtube {
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
}



.logo-down .go-down {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    transition: all 0.5s;
}

.logo-down .go-down:hover {
    color: silver;
}

.logo-down .go-down i {
    animation-name: bouncing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.logo-down .go-down i:hover {
    animation: none;
}

@keyframes bouncing {
    0%{
        transform: translatey(0);
    }
    10%{
        transform: translatey(0);
    }
    20%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(0);
    }
    80%{
        transform: translatey(0);
    }
    100%{
        transform: translatey(0);
    }

    40%{
        transform: translatey(-10px);
    }
    60%{
        transform: translatey(-10px);
    }
}


@media(max-width:767px){
    .logo-Home {
        position: absolute;
        left: 0px;
    }

    .logo-Home li:not(:last-child){
        margin-bottom: 30px;
    }
}

/* end home */

/* start section lam7a sare3a */

.lam7a-sare3a {
    margin-top: 50px;
}

.lam7a-sare3a .container {
    text-align: center;
}

.lam7a-sare3a .container .text-lam7a {
    text-align: right;
}

.img-up {
    margin-top: 0px;
}

.img-down {
    height: 90vh;
}

.text-lam7a h4 {
    color: #E7AE6F;
}

.text-lam7a h1 {
    color: #427C93;
}

.cta {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    border: none;
    border-right: solid 1px #E7AE6F;
    border-top: solid 1px #E7AE6F;
    border-bottom: solid 1px #E7AE6F;
    transition: all 0.5s;
    border-radius: 2px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315); */
    background-color: transparent;
 }

 /* .cta:hover {
     border-right: 1px solid red;
 } */

  .cta::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 50%;
    height: 2px;
    width: 25px;
    background-color: #E7AE6F;
    transition: all 0.5s;
 }

 .cta::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid #E7AE6F;
    transition: all 0.5s;
 }

 .cta:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    border-right: 1px solid #E7AE6F;
    transition: all 0.5s;
 }



 .cta:hover:before {
    top: 37%;
    left: 0px;
    height: 30%;
    width: 2px;
 }

@media(max-width:767px){
    .lam7a-sare3a .container .text-lam7a {
        text-align: right;
        margin-bottom: 30px;
    }

    .lam7a-sare3a .container .text-lam7a a button{
        margin-right: 20px;
    }
}

/* end section lam7a sare3a */


/* start swiber */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #E5E5E5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.enwan-swiber {
    padding-right: 10px;
    position: relative;
    width: 150px;
}

.enwan-swiber h4{
    color: #E7AE6F;
    
}

.enwan-swiber h4 span .khat {
    width: 50px;
    height: 1px;
    position: absolute;
    left: -20%;
    top: 12px;
    background-color: #E7AE6F;
}

.enwan-swiber h1{
    color: #427C93;
}


.swiper {
  width: 80%;
  height: 100%;
  margin-bottom: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  height: 80% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px !important;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background-color: #427C93  !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 45%;
    right: 10px;
    left: auto;
    color: white;
    font-weight: bold;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 45%;
    left: 10px;
    right: auto;
    color: white;
    font-weight: bold;
}

.swibe {
    display: flex;
    flex-direction: column;
}

.layOut-swiber {
    display: none;
}

.mazeed {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 100px;
}

.mazeed a {
    text-decoration: none;
    color: white;
}

.bg-swiber {
    background-image: url(../images/Frame.swiper.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-swiber:hover .layOut-swiber{
    display: block;
}

.bg-swiber:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.384) , rgba(0, 0, 0, 0.507)) , url(../images/Frame.swiper.png);
}


/* end swiber */


/* start section 5admatna */

.khadmatna {
    margin-top: 50px;
    margin-bottom: 150px;
}

.enwan-khadmatna {
    padding-right: 40px;
    position: relative;
    width: 150px;
}

.enwan-khadmatna h4{
    color: #E7AE6F;
    
}

.enwan-khadmatna h4 span .khat {
    width: 50px;
    height: 1px;
    position: absolute;
    left: -15%;
    top: 12px;
    background-color: #E7AE6F;
}

.enwan-khadmatna h1{
    color: #427C93;
}

.box-khadmatna {
    background-color: white;
    padding: 20px;
    max-width: 350px;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
}

.box-khadmatna:hover {
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
   transform: scale(1.05 , 1.05);
}

.box-khadmatna::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: #427C93;
    position: absolute;
    top: 0;
    right: 50%;
    transition: all 0.5s;
}

.box-khadmatna:hover:before{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #427C93;
    position: absolute;
    top: 0;
    right: 25%;
}

.box-khadmatna .img-khadmatna {
    text-align: center;
}

@media(max-width:767px){
    .box-khadmatna {
       margin-bottom: 20px;
    }

    .enwan-khadmatna {
        padding-right: 20px;
        position: relative;
        width: 150px;
    }

    .enwan-khadmatna h4 span .khat {
        width: 50px;
        height: 1px;
        position: absolute;
        left: -5%;
        top: 12px;
        background-color: #E7AE6F;
    }
}

/* end section 5admatna */


/* start bg-contact */

.bg-contact {
    background-image: url(../images/Frame.contact.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-bg-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}



form input {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-contact {
    background-color: #427C93;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    /* width: 20%; */
    
}

.text-contact {
    color: white;
}

.btn-txt-contact {
    color: white;
}

form input:not(:last-child){
    margin-bottom: 20px;
}

@media(max-width:991px){
    .input-bg-contact {
        flex-direction: column-reverse;
    }

    form input {
        display: block;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }
}

/* end bg-contact */

/* start footer */

footer {
    width: 100%;
    height: 130px;
    padding-top: 4%;
    background-color: #427C93;
    color: white;
}

.foot {
    height: 100%;
    width: 100%;
    text-align: center;
}
.foot a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* .foot{
    margin-bottom: 10px;
} */

.ul-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-footer li a i {
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.ul-footer li a i:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    transform: scale(1.1 , 1.1);
}

.div-bottom {
    /* border-top: 1px solid rgba(255, 255, 255, 0.397); */
    text-align: center;
    background-color: #427C93;
    margin-top: -20px;
    padding-bottom: 2px;
}


 @media(max-width:767px){
    footer {
        width: 100%;
        height: 210px;
        padding-top: 5%;
        background-color: #427C93;
        color: white;
    }
    
    .ul-footer {
       
        margin-bottom: 10px;
    }

    .div-bottom {
        /* border-top: 1px solid rgba(255, 255, 255, 0.397); */
        text-align: center;
        background-color: #427C93;
        margin-top: 0px;
        padding-bottom: 2px;
    }
    
} 

/* .ul-footer li a i {
    color: white;
    font-size: 20px;
} */

/* end footer */